@model TechCommunityCalendar.CoreWebApplication.Models.MonthViewModel
@{


}

<div class="text-center">

    @await Html.PartialAsync("_TopMonths", Model.Events)
    <br />

    <h3>Tech Events in @Model.MonthName @Model.Year</h3>

    <br />

    @if (Model.ShowCurrentEvents)
    {
        <br />

        <h4>@Model.CurrentEventsCount Current Events</h4>
        @if (Model.CurrentEvents.Any())
        {
            @await Html.PartialAsync("_EventsTable", Model.CurrentEvents)
        }
        else
        {
            <p>No current events</p>
        }
    }

    @if (Model.ShowUpcomingEvents)
    {
        <br />

        <h4>@Model.UpcomingEventsCount Upcoming Events</h4>
        @if (Model.UpcomingEvents.Any())
        {
            @await Html.PartialAsync("_EventsTable", Model.UpcomingEvents)
        }
        else
        {
            <p>No upcoming events</p>
        }
        <br />
    }

    @if (Model.ShowRecentEvents)
    {
        <h4>@Model.RecentEventsCount Recent Events</h4>
        @if (Model.RecentEvents.Any())
        {
            @await Html.PartialAsync("_EventsTable", Model.RecentEvents)
        }
        else
        {
            <p>No recent events</p>
        }
    }

</div>
