@model TechCommunityCalendar.CoreWebApplication.Models.EditEventViewModel
@{

}
@*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@

<br />
<br />
<div>

    <div class="alert alert-info">
        Only used to update the hidden field at the moment.
    </div>

    @using (Html.BeginForm())
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }

        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Event Name</label>
            <div class="col">
                @Model.Name
            </div>
        </div>

        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Hidden</label>
            <div class="col">
                @Html.CheckBoxFor(x => x.Hidden, new { @class = "form-control", placeholder = "Hidden", aria_label = "Hidden" })
            </div>
        </div>

        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Delete?</label>
            <div class="col">
                @Html.CheckBoxFor(x => x.Delete, new { @class = "form-control", placeholder = "Hidden", aria_label = "Delete" })
            </div>
        </div>

        <div class="form-group row" id="rowCity">
            <label for="City" class="col-sm-2 col-form-label">Admin Password</label>
            <div class="col">
                @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control", placeholder = "", aria_label = "" })
            </div>
        </div>

        @*<div class="g-recaptcha" data-sitekey="6Lcu15wdAAAAAGO0qet7WwE8L-3dbbpqgcANeTRm"></div>*@

        <br />
        <br />
        <input type="submit" value="Update" onclick="return checkDelete();" />
    }

</div>

@section Scripts
    {
    <script>
        function checkDelete() {
            if ($('#Delete').is(':checked')) {
                return confirm('Are you sure you want to delete?');
            }

            return true;
        }
    </script>
    }