@model IEnumerable<TechCommunityCalendar.Interfaces.ITechEvent>

<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:left">
                @item.StartDate.ToString("dd/MM/yyyy") - <a href="@item.Url" class="event-name">@item.Name</a>
                - @if (!string.IsNullOrEmpty(item.City))
                {
                    @item.City<text>,</text>
                }
                @item.Country
            </td>
            <td>
                @if (item.EventType == TechCommunityCalendar.Enums.EventType.Call_For_Paper)
                {
                    <text>Call For Paper</text>
                }
                else
                {
                <span>@item.Duration @item.EventFormat.ToString().Replace("_", " ") @item.EventType.ToString().Replace("_", " ")</span>
                }
            </td>
        </tr>
    }

</table>
