@model IEnumerable<TechCommunityCalendar.Interfaces.ITechEvent>

<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @TechCommunityCalendar.Concretions.TechEventCalendar.GetEventTypeIcon(item.EventType)
            </td>
            <td style="text-align:left">
                @item.StartDate.ToString("dd/MM/yyyy") - <a href="@item.Url" class="event-name">@item.Name</a>
                - @if (!string.IsNullOrEmpty(item.City))
                {
                    @item.City<text>,</text>
                }
                @item.Country
            </td>
            <td>
                @if (item.EventType == TechCommunityCalendar.Enums.EventType.Call_For_Papers) {
                    <text>Call For Papers</text>

                    var daysRemaining = item.EndDate.Subtract(DateTime.Now.Date).Days;
                    if (daysRemaining > 0) {
                        <text> (@daysRemaining days remaining)</text>
                    }
                }
                else {
                    <span>@item.Duration @item.EventFormat.ToString().Replace("_", " ") @item.EventType.ToString().Replace("_", " ")</span>
                }
            </td>
        </tr>
    }

</table>
