<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="canonical" href="@ViewData["Canonical"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:url" content="@ViewData["Canonical"]" />
    <meta property="og:image" content="https://techcommunitycalendar.com/images/tech-community-calendar-share.png" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:type" content="webpage" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="@ViewData["Description"]" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:image" content="https://techcommunitycalendar.com/images/tech-community-calendar-share.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XBDPEW68ZT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-XBDPEW68ZT');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navy border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TechCommunityCalendar.com</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>*@@*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>*@
                <a class="nav-link text-dark btn-light btn-sm" asp-area="" asp-controller="AddEvent" asp-action="Index">Add Event <i class="bi bi-plus-circle-fill"></i></a>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                @*<a class="nav-link text-dark btn-light btn-sm" asp-area="" asp-controller="AddEvent" asp-action="Index">Add Event <i class="bi bi-plus-circle-fill"></i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OpenSource">Open Source</a>
                </li>
                </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div style="background-image:url('https://images.unsplash.com/photo-1626125345510-4603468eedfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); min-height:365px;">
        <h1 class="display-5" style="text-align:center; color:#fff;">Tech Community Calendar</h1>
        <h2 style="text-align:center; color:#fff;">Conferences - Call For Papers - Meetups - Hackathons</h2>


        <div class="container">
            @*<div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
            </div>*@

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-success" type="button" id="button-addon2"><i class="fa fa-search">Go</i></button>
            </div>

        </div>

    </div>

    <div class="container">
        <main class="pb-3">
            @*<div class="text-center">
            <img id="logo" src="~/images/tech-community-calendar2.png" alt="Tech Community Calendar" width="280" />
            <h1 class="display-5">Tech Community Calendar</h1>
            <h2>Conferences - Call For Papers - Meetups - Hackathons</h2>
            <p>Created by <a href="http://www.twitter.com/leeenglestone">@@LeeEnglestone</a>, Supported by <a href="https://www.avanade.com/en?utm_source=techcommunitycalendar&utm_medium=support-link&utm_campaign=devrel-techcommunitycalendar">Avanade</a></p>
            </div>*@

            


            @RenderBody()

            <div class="text-center">
                <br /><br />
                @await Html.PartialAsync("_EventTypesLinks")
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - TechCommunityCalendar.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
