@{
    // todo: Just put this in a loop!
    var lastMonth = DateTime.Now.AddMonths(-1);
    var thisMonth = DateTime.Now.AddMonths(0);
    var nextMonth = DateTime.Now.AddMonths(1);
    var nextMonth2 = DateTime.Now.AddMonths(2);
    var nextMonth3 = DateTime.Now.AddMonths(3);

    var lastMonthName = lastMonth.ToString("MMMM yyyy");
    var thisMonthName = thisMonth.ToString("MMMM yyyy");
    var nextMonthName = nextMonth.ToString("MMMM yyyy");
    var nextMonth2Name = nextMonth2.ToString("MMMM yyyy");
    var nextMonth3Name = nextMonth3.ToString("MMMM yyyy");

    var lastMonthNumber = lastMonth.Date.Month;
    var thisMonthNumber = thisMonth.Date.Month;
    var nextMonthNumber = nextMonth.Date.Month;
    var nextMonth2Number = nextMonth2.Date.Month;
    var nextMonth3Number = nextMonth3.Date.Month;

    var lastMonthYear = lastMonth.Date.Year;
    var thisMonthYear = thisMonth.Date.Year;
    var nextMonthYear = nextMonth.Date.Year;
    var nextMonth2Year = nextMonth2.Date.Year;
    var nextMonth3Year = nextMonth3.Date.Year;
}
<div>
    <span><a href="/@lastMonthNumber/@lastMonthYear/">@lastMonthName</a></span> -
    <span><a href="/@thisMonthNumber/@thisMonthYear/">@thisMonthName</a></span> -
    <span><a href="/@nextMonthNumber/@nextMonthYear/">@nextMonthName</a></span> -
    <span><a href="/@nextMonth2Number/@nextMonth2Year/">@nextMonth2Name</a></span> -
    <span><a href="/@nextMonth3Number/@nextMonth3Year/">@nextMonth3Name</a></span>
</div>