@model TechCommunityCalendar.CoreWebApplication.Models.MonthViewModel
@{

    var lastMonth = DateTime.Now.AddMonths(-1);
    var thisMonth = DateTime.Now.AddMonths(0);
    var nextMonth = DateTime.Now.AddMonths(1);

    var lastMonthName = lastMonth.ToString("MMMM");
    var thisMonthName = thisMonth.ToString("MMMM");
    var nextMonthName = nextMonth.ToString("MMMM");

    var lastMonthNumber = lastMonth.Date.Month;
    var thisMonthNumber = thisMonth.Date.Month;
    var nextMonthNumber = nextMonth.Date.Month;

    var lastMonthYear = lastMonth.Date.Year;
    var thisMonthYear = thisMonth.Date.Year;
    var nextMonthYear = nextMonth.Date.Year;

    ViewData["Title"] = $"Tech Community Events in {thisMonthName} {thisMonthYear}";
}

<div class="text-center">
    <div>
        <span><a href="/@lastMonthNumber/@lastMonthYear">@lastMonthName @thisMonthYear</a></span> -
        <span><a href="/@thisMonthNumber/@thisMonthYear">@thisMonthName @thisMonthYear</a></span> -
        <span><a href="/@nextMonthNumber/@nextMonthYear">@nextMonthName @thisMonthYear</a></span>
    </div>

    <br />
    <br />

    <h3>Tech Events in @Model.MonthName @Model.Year</h3>

    <br />
    <br />

    <h4>@Model.UpcomingEventsCount Upcoming Events</h4>
    @if (Model.UpcomingEvents.Any())
    {
        @await Html.PartialAsync("_EventsTable", Model.UpcomingEvents)
    }
    else
    {
        <p>No upcoming events</p>
    }


    <br />

    <h4>@Model.RecentEventsCount Recent Events</h4>
    @if (Model.RecentEvents.Any())
    {
        @await Html.PartialAsync("_EventsTable", Model.RecentEvents)
    }
    else
    {
        <p>No recent events</p>
    }

</div>
