@model TechCommunityCalendar.CoreWebApplication.Models.MonthViewModel
@{

    var lastMonth = DateTime.Now.AddMonths(-1);
    var thisMonth = DateTime.Now.AddMonths(0);
    var nextMonth = DateTime.Now.AddMonths(1);

    var lastMonthName = lastMonth.ToString("MMMM yyyy");
    var thisMonthName = thisMonth.ToString("MMMM yyyy");
    var nextMonthName = nextMonth.ToString("MMMM yyyy");

    var lastMonthNumber = lastMonth.Date.Month;
    var thisMonthNumber = thisMonth.Date.Month;
    var nextMonthNumber = nextMonth.Date.Month;

    var lastMonthYear = lastMonth.Date.Year;
    var thisMonthYear = thisMonth.Date.Year;
    var nextMonthYear = nextMonth.Date.Year;

    ViewData["Title"] = $"Tech Community Events in {thisMonthName} {thisMonthYear}";
}

<div class="text-center">
    <div>
        <span><a href="/@lastMonthNumber/@lastMonthYear">@lastMonthName</a></span> -
        <span><a href="/@thisMonthNumber/@thisMonthYear">@thisMonthName</a></span> -
        <span><a href="/@nextMonthNumber/@nextMonthYear">@nextMonthName</a></span>
    </div>

    <br />
    <br />

    <h3>Tech Events in @Model.MonthName @Model.Year</h3>

    <br />
    <br />

    <h4>Upcoming Events</h4>
    @if (Model.Events.Any(x => x.StartDate.Date >= DateTime.Now.Date))
    {
    }
    else
    {
        <p>No upcoming events</p>
    }
    @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date >= DateTime.Now.Date))

    <br />

    <h4>Recent Events</h4>

    @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date < DateTime.Now.Date))


</div>
